body {
  background-color: @background;
}

textarea, input {
  outline: none;

  &:focus, &:hover {
    border: 2px solid @active;
  }
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.inline {
  display: inline-block;
}
